.bottoms {
  padding: 20px 12px 10px 16px;
}

.button {
  padding: 0;
  float: right;
  -webkit-align-items: center;
  align-items: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.48);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  width: 30px;
  background-color:white;
}
.radios{
  padding: 0;
  float: right;
}


.imagen-box img {
  position: absolute;
  top: -15%;
  //bottom: -20%;
  left: -50%;
  right: -50%;
  margin: auto; 
  height: auto;
  //width: auto;    
}

.imagen-box {
  width: 90%;
  display: block;
  margin-left: 6px;
  margin-top: 6px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.12);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.12);
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
.el-card{
  cursor: hand;
  cursor: pointer; 
  position: relative;
}
.el-col-4{
    width: 17%;
}
.opcion{
  text-align: center;
  height: 200px;
}
.menus li{
  height: 35px;
}
.menus li span a{
  margin-left: 10px;
}
.images{
  width: 90%;
  float: left;
}
.boton-cambio{
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: block;
  height: 30px;
  left: 95%;
  position: absolute;
  top: 65%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 30px;
}
.letra-box{

  font-size: 14px;
}
.titleComponent{
  background-color: #21859d;
  border-radius: 4px;
  color: white;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
      width: 100%;
}
.titlebusqueda{
    padding-top: 10px;
    padding-left: 50px;
}
.center{
    width: 50%;
    padding-left: 10px;
}
#modal1{
  width: 100%;
}
.panel{
  padding: 180px;
}
.doc-nuevo{

  font-size: 12px;
}
.doc-antiguo{

  font-size: 12px;
}
.select-antiguo{
  width: 69%;
}
.select-nuevo{
  width: 69%;
}
.panelimport{
  background-color: #EFF2F7;
  border-radius: 5px;
  border-color: #99A9BF;
}
.panelimport:hover{
  border-radius: 5px;
  border-color: #21859d;
}
.modal-header{
  background-color: #21859d;
  color: white;
}
.el-tree{
  border: none;
}
// estilos para popup jerarquia
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 95%;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.force-overflow
{
  min-height: 300px;
  background-color: white;
  border-style: solid;
  border-color: #E5E9F2 #EFF2F7;
}
#style-7::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(136, 199, 247)),
									   color-stop(0.72, rgb(91, 180, 247)),
									   color-stop(0.86, rgb(32, 160, 255)));
}
.scrollbar1
{
	margin-left: 30px;
	float: left;
	height: 460px;
	width: 95%;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.force-overflow1
{
  min-height: 300px;
  background-color: white;
  border-style: solid;
  border-color: #E5E9F2 #EFF2F7;
}
.scrollbar2
{
	margin-left: 30px;
	float: left;
	height: 380px;
	width: 95%;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.force-overflow2
{
  min-height: 300px;
  background-color: white;
  border-style: solid;
  border-color: #E5E9F2 #EFF2F7;
}
.tituloDocument{
  padding-left: 30px;
}
.tituloDocument label{
  font-size: 20px;
  margin-top: -4px;
}
.el-dialog__header{
  background-color: #21859d;
}
.el-dialog__title{
  color: white;
  font-size: 1.25rem;
}
.panelimport{
  height: 400px;
}
