.menus{
    width: 100%;
    background-color: white;
    border-radius:0px 0px 2px 0px;
    padding-left: 8px;
}
.menus span{
    padding-left: 10px;
}
.el-menu-vertical-demo{
    width: 100%;
}
.principal{
    background-color: white;
}