
.logo {
  background: url('../../images/logoPDP.png');
  background-size: cover;
  position: relative;
  display: inline-block;
  display: flex;
  flex-flow: row;
  width: 150px;
    height: 50px;
    margin-left: 45px;
  }