
.logo {
  //background: url('../../images/logoPDP.png');
  background-size: cover;
  position: relative;
  display: inline-block;
  display: flex;
  flex-flow: row;
  width: 271px;
  height: 36px;
  background: white;
}
