.titleComponent{
    background-color: #21859d;
    border-radius: 4px;
    color: white;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
        width: 100%;
  }
  .titlebusqueda{
      padding-top: 10px;
      padding-left: 50px;
  }
  .center{
      width: 50%;
      padding-left: 10px;
  }

  .el-card__header{
    padding:0 0;
  }
  .el-card__body{
      padding-bottom: 5px;
  }
  .filterSearch{
    padding-bottom: 5px;
    margin-bottom: -10px;
  }